.message {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
}

td {
  width: 60px;
  height: 60px;
  border: 2px solid #333;
  background-color: green;
  text-align: center;
  vertical-align: middle;
}

.black,
.white {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: auto;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.place {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: auto;
  background-color: gray;
}

button {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn {
  text-align: center;
}
